<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="MeinVerband API Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    
    <!-- Code Coverage: Uncomment if xdebug or pcov extension is available
    <coverage includeUncoveredFiles="true"
              disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="coverage-html"/>
        </report>
    </coverage>
    -->
</phpunit>